<!-- templates/registration/password_reset_complete.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
    <style>
        .container {
        display: flex;
        min-height: 100vh;
        background: url('/static/images/login_img.jpg') no-repeat center center;
        background-size: cover; /* Ensure the image covers the whole background */
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="form-container">
                <div class="form-content">
                    <h1>Password Reset Complete</h1>
                    <p>Your password has been set. You can now <a href="{% url 'login' %}" class="login-link">log in</a> with the new password.</p>
                </div>
            </div>
           <!-- <div class="image-container">
                <img src="{% static 'images/password_reset_complete.png' %}" alt="Password Reset Complete">
            </div> -->
        </div>
    </div>
</body>
</html>
