<!-- templates/registration/password_reset_done.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="{% static 'css/forgot_pass.css' %}">
</head>
<body>
    <div class="container">
        <h2>Password Reset Sent</h2>
        <p>We've emailed you instructions for setting your password. You should receive the email shortly.</p>
    </div>
</body>
</html>
