/* General styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(172deg,#040610 15.72%, #031637 68.5%);
}

/* Container styles */
.container {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(90deg, #040610 15.72%, #031637 68.5%);
}

.content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Form styles */
.form-container {
    flex: 1;
    max-width: 450px;
    padding: 40px;
    background: #36454f;

    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(246, 244, 244, 0.1);
    margin-right: 20px;  /* Adding some space between the form and image */
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-content h1 {
    font-size: 34px;
    color: #faf7f7;
    letter-spacing: 1.02px;
    text-transform: uppercase;
    text-align: center;
}

.form-content p {
    color: #a2a2b2;
    text-align: center;
}

.form-content label {
    color: #f4efef;
    margin-top: 10px;
}

.form-content input {
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(53, 82, 109, 0.463);
    box-shadow: 0 4px 10px rgba(92, 114, 193, 0.29);
    margin-top: 5px;
    width: 100%;  /* Ensure inputs take full width of the container */
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #9bb3c3;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #f9f3f3;
}

.options .remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.form-content button {
    padding: 15px;
    border-radius: 12px;
    background-color: #63e1e1;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(32, 105, 132, 0.25);
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form-content button:hover {
    background-color: #519da9;
}

#google-signin {
    text-align: center;
    margin-top: 20px;
}

.google-button {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #63e1e1;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.google-button:hover {
    background-color: #519da9;
}

.google-icon {
    width: 40px;
    height: 25px;
    margin-right: 10px;
    background-color: transparent;
}


.signup {
    text-align: center;
    margin-top: 20px;
    color: #fcfdfd;
}

.signup a {
    color: #63e1e1;
    margin-left: 5px;
}

/* Image container styles */
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: fit-content;
    border-radius: 12px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .form-container, .image-container {
        max-width: 100%;
    }

    .image-container {
        margin-top: 20px;
    }
}
