/* General styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
}

/* Container styles */
.container {
    display: flex;
    min-height: 100vh;
    background-color: #fff;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Form styles */
.form-container {
    flex: 1;
    max-width: 450px;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;  /* Adding some space between the form and image */
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-content h1 {
    font-size: 34px;
    color: #030303;
    letter-spacing: 1.02px;
    text-transform: uppercase;
    text-align: center;
}

.form-content p {
    color: #636364;
    text-align: center;
}

.form-content label {
    color: #181818;
    margin-top: 10px;
}

.form-content input {
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    width: 100%;  /* Ensure inputs take full width of the container */
    margin-bottom: 20px;
    box-sizing: border-box;
}

.form-content button {
    padding: 15px;
    border-radius: 12px;
    background-color: #ea454c;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(233, 68, 75, 0.25);
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.signup {
    text-align: center;
    margin-top: 20px;
    color: rgba(89, 89, 89, 1);
}

.signup a {
    color: rgba(234, 69, 76, 1);
    margin-left: 5px;
}

/* Image container styles */
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .form-container, .image-container {
        max-width: 100%;
    }

    .image-container {
        margin-top: 20px;
    }
}
